<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shaicha.information.dao.ResultDiopterDao">

	<select id="getByOptometryId" resultType="com.shaicha.information.domain.ResultDiopterDO">
		select `t_diopter_id`,`t_optometry_id`,`diopter_s`,`diopter_c`,`diopter_a`,`believe`,`num`,`type`,`ifRL`,first_second from t_result_diopter_new where t_optometry_id = #{tOptometryId} 
	</select>
	<insert id="saveDiopterDO" parameterType="com.shaicha.information.domain.ResultDiopterDO" useGeneratedKeys="true" keyProperty="tDiopterId">
		insert into t_result_diopter_new
		(
			`t_optometry_id`, 
			`diopter_s`, 
			`diopter_c`, 
			`diopter_a`, 
			`believe`, 
			`num`, 
			`type`, 
			`ifRL`,
			first_second,
			identity_card,
			check_date,
			dengxiaoqiujing,
			activity_id,
			y1Y,
			y2Y
		)
		values
		(
			#{tOptometryId}, 
			#{diopterS}, 
			#{diopterC}, 
			#{diopterA}, 
			#{believe}, 
			#{num}, 
			#{type}, 
			#{ifrl},
			#{firstSecond},
			#{identityCard},
			#{checkDate},
			#{dengxiaoqiujing},
			#{activityId},
			#{y1Y},
			#{y2Y}
		)
	</insert>
	<update id="saveYuCeData" parameterType="com.shaicha.information.domain.ResultDiopterDO">
		update t_result_diopter_new set y1Y = #{y1Y} , y2Y=#{y2Y where t_optometry_id = #{tOptometryId} and type = #{type} and ifRL = #{ifrl}
	</update>
	
	<delete id="removeAll">
		delete from t_result_diopter_new where t_optometry_id=#{value}
	</delete>
	

</mapper>