<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="id" name="id" th:value="${student.id}" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">学生姓名：</label>
								<div class="col-sm-8">
									<input id="studentName" name="studentName"
										th:value="${student.studentName}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">性别 1：男2：女0：未知：</label>
								<div class="col-sm-8">
									<input id="studentSex" name="studentSex"
										th:value="${student.studentSex}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">民族：</label>
								<div class="col-sm-8">
									<input id="nation" name="nation" th:value="${student.nation}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">出生年月：</label>
								<div class="col-sm-8">
									<input id="birthday" name="birthday"
										th:value="${student.birthday}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">身份证号：</label>
								<div class="col-sm-8">
									<input id="identityCard" name="identityCard"
										th:value="${student.identityCard}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">学校：</label>
								<div class="col-sm-8">
									<input id="school" name="school" th:value="${student.school}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">年级：</label>
								<div class="col-sm-8">
									<input id="grade" name="grade" th:value="${student.grade}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">班级：</label>
								<div class="col-sm-8">
									<input id="studentClass" name="studentClass"
										th:value="${student.studentClass}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系电话：</label>
								<div class="col-sm-8">
									<input id="phone" name="phone" th:value="${student.phone}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系地址：</label>
								<div class="col-sm-8">
									<input id="address" name="address"
										th:value="${student.address}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">身高：</label>
								<div class="col-sm-8">
									<input id="height" name="height" th:value="${student.height}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">体重：</label>
								<div class="col-sm-8">
									<input id="weight" name="weight" th:value="${student.weight}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">添加时间：</label>
								<div class="col-sm-8">
									<input id="addTime" name="addTime"
										th:value="${student.addTime}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">状态0：正常1：禁止：</label>
								<div class="col-sm-8">
									<input id="status" name="status" th:value="${student.status}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript"
		src="/js/appjs/information/student/edit.js">
		
	</script>
</body>
</html>
