<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<!-- 
							<button shiro:hasPermission="information:student:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="information:student:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							 -->
							<div class="columns pull-left">
								<!-- <button shiro:hasPermission="information:student:student" type="button" class="btn  btn-default" onclick="importtemplate()">
									   模板导入
								</button>-->
								<!-- <button shiro:hasPermission="information:student:student" type="button" class="btn  btn-default" onclick="datidaoru()">
									  答题导入
								</button> -->
								<!-- <button shiro:hasPermission="information:student:student" type="button" class="btn  btn-info" onclick="erweimaxiazai()">
									   二维码下载
								</button>
								 <button shiro:hasPermission="information:student:student" type="button" class="btn  btn-info" onclick="shaichajieguodaochu()">
									   筛查结果导出
								</button>-->
								<div class="columns pull-right col-md-2 nopadding">
									<select onchange="stuactivity();" name="activity" id="activity" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="false" data-size="8">
										<option value="">请选择</option>
										<option th:each="ac:${activity}" th:value="${ac.id}" th:text="${ac.activityName}"></option>
									</select>
								</div>
								<div class="columns pull-right col-md-2 nopadding">
									<button shiro:hasPermission="information:student:student" type="button" class="btn  btn-info" onclick="huodongbaogao()">
										活动报告
									</button>
								</div>
							</div>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="studentName" type="text" class="form-control"
								placeholder="姓名">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="phone" name="phone" class="form-control" placeholder="手机号" type="text">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select class="form-control" name="studentSex" id="studentSex" >
                        		<option value="">性别</option>
                        		<option value="1">男</option>
                        		<option value="2">女</option>
                    		</select>
						</div>
						
								
								<div class="columns pull-right col-md-2 nopadding">
									<input id="lastCheckTime" name="lastCheckTime" class="form-control" type="text" placeholder="筛查日期">
								</div>
							
						 <div class="columns pull-right col-md-2 nopadding">
							<select class="form-control" name="school" id="school" >
                        		<option value="">学校</option>
                        		<option th:each="list:${studentList}" th:value="${list.school}" th:text="${list.school}"></option>
                    		</select>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="information:student:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:student:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:student:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/information/student/student.js"></script>
	<script type="text/javascript">
	laydate.render({
		elem: '#lastCheckTime',
		type: 'date'
	});
	</script>
</body>
</html>