<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shaicha.information.dao.ActivityListDao">

	<select id="get" resultType="com.shaicha.information.domain.ActivityListDO">
		select `id`,`activity_name`,`del_flag`,`add_time`,`update_date` from t_activity_list where id = #{value}
	</select>

	<select id="list" resultType="com.shaicha.information.domain.ActivityListDO">
		select `id`,`activity_name`,`del_flag`,`add_time`,`update_date` from t_activity_list
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="activityName != null and activityName != ''"> and activity_name = #{activityName} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_activity_list
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="activityName != null and activityName != ''"> and activity_name = #{activityName} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shaicha.information.domain.ActivityListDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_activity_list
		(
			`activity_name`, 
			`del_flag`, 
			`add_time`, 
			`update_date`
		)
		values
		(
			#{activityName}, 
			#{delFlag}, 
			#{addTime}, 
			#{updateDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.shaicha.information.domain.ActivityListDO">
		update t_activity_list
		<set>
			<if test="activityName != null">`activity_name` = #{activityName}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_activity_list where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_activity_list where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>