<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <head th:include="include :: header"></head>
    
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.css">
   
</head>
<body>

<div class="panel panel-default" style="background-color: #EEEEEE; top: 1px;">
    <div class="panel-heading"> <h3>&nbsp;&nbsp;&nbsp;欢迎登录儿童近视防控数据平台管理系统</h3></div>
    
    <div class="first_area">
    	<div class="left">
    		<p class="itemName">
    			<span>总</span>
    		</p>
    		<p class="itemLs">
    			<span>受检者总数</span>
    			<span class="total"></span>
    		</p>
    	</div>
    	<div class="right">
    		<div class="checkItem">
    			<p class="itemName">
    				<i class="iconfont icon-yonghuguanli1"></i>
    			</p>
    			<p class="itemLs">
	    			<span>2019年下半年济南示范校筛查系统</span>
	    			<span id="shifanxiao"></span>
    			</p>
    		</div>
    		<div class="checkItem">
    			<p class="itemName">
    				<i class="iconfont icon-yonghuguanli1"></i>
    			</p>
    			<p class="itemLs">
	    			<span>2019年下半年济南普通筛查系统</span>
	    			<span id="putong"></span>
    			</p>
    		</div>
    		<!-- <div class="checkItem">
    			<p class="itemName">
    				<i class="iconfont icon-yonghuguanli1"></i>
    			</p>
    			<p class="itemLs">
	    			<span>受检者总数</span>
	    			<span>564564人</span>
    			</p>
    		</div> -->
    	</div>
    </div>
    
    <div class="pie_area">
    	<div class="image-box">
    		<div class="title">患病率统计</div>
    		<ul>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>视力低下率</span>
    						</div>
    					</div>
    					<div id="pie_charts" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>近视患病率</span>
    						</div>
    					</div>
    					<div id="pie_charts2" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>远视患病率</span>
    						</div>
    					</div>
    					<div id="pie_charts3" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>屈光参差患病率</span>
    						</div>
    					</div>
    					<div id="pie_charts4" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>正视眼率</span>
    						</div>
    					</div>
    					<div id="pie_charts5" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<!-- <li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>高眼压率</span>
    						</div>
    					</div>
    					<div id="pie_charts6" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li> -->
    		</ul>
    	</div>
    </div>
    

 <!--     <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>面向学习型的开源框架，简洁高效，减少过渡封装，展现技术本质</li>
            <li>Springboot作为基础框架，使用mybatis作为持久层框架</li>
            <li>使用官方推荐的thymeleaf做为模板引擎，shiro作为安全框架,主流技术，“一网打尽”</li>
            <li>极简配置，一键前后台代码生成</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
        <ul>
            <li>Github地址：<a href="https://github.com/lcg0124/bootdo.git" th:href="@{https://github.com/lcg0124/bootdo.git}" target="_blank">https://github.com/lcg0124/bootdo.git</a></li>
            <li>Oschina地址：<a href="https://gitee.com/lcg0124/bootdo.git" target="_blank">https://gitee.com/lcg0124/bootdo.git</a></li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;官方QQ群</h3>
        <ul>
            <li>点击链接加入群【BootDo交流群】：<a href="https://jq.qq.com/?_wv=1027&k=5EYXfiZ">669039323(满)</a></li>
            <li>点击链接加入群聊【BootDo交流二群】：<a href="https://jq.qq.com/?_wv=1027&k=5M659N4">614726589</a></li>
        </ul>
    </div>  -->
</div>
<div th:include="include :: footer"></div>
<input type="hidden" id="didujinshiNumber">
<input type="hidden" id="zhongdujinshiNumber">
<input type="hidden" id="gaodujinshiNumber">
<input type="hidden" id="jinshizongjiNumber">
<input type="hidden" id="jslcqianqiNumber">
<input type="hidden" id="jxjsNumber">
<input type="hidden" id="zhengchang">
<input type="hidden" id="jinshilv">
<input type="hidden" id="buliangshiliNumber">
<input type="hidden" id="buliangshililv">
<input type="hidden" id="wubuliang">
<input type="hidden" id="yuanshiNumber">
<input type="hidden" id="yunshihuanbinglv">
<input type="hidden" id="wuyuanshi">
<input type="hidden" id="zhengshiNumber">
<input type="hidden" id="wuzhengshi">
<input type="hidden" id="zhengshiyanlv">
<input type="hidden" id="quguangcenciNumber">
<input type="hidden" id="quguangcenciNumberLv">
<input type="hidden" id="wuquguangcenci">
<script src="/js/plugins/echarts/echarts.js"></script>
<script type="text/javascript">
	
$.ajax({
	cache : true,
	type : "GET",
	async:false,
	url : "/information/student/shouYeTrueData",
	error : function(request) {
		parent.layer.alert("网络超时");
	},
	success : function(data) {
		$(".total").text(data.totalnumber+"人");
		$("#shifanxiao").text(data.shifanxiaoshaicha+"人");
		$("#putong").text(data.putongshaicha);
		$("#jxjsNumber").val(data.jxjsNumber);
		$("#jslcqianqiNumber").val(data.jslcqianqiNumber);
		$("#jinshizongjiNumber").val(data.jinshizongjiNumber);
		$("#gaodujinshiNumber").val(data.gaodujinshiNumber);
		$("#zhongdujinshiNumber").val(data.zhongdujinshiNumber);
		$("#didujinshiNumber").val(data.didujinshiNumber);
		$("#zhengchang").val(data.zhengchang);
		$("#jinshilv").val(data.jinshilv);
		$("#buliangshiliNumber").val(data.buliangshiliNumber);
		$("#buliangshililv").val(data.buliangshililv);
		$("#wubuliang").val(data.wubuliang);
		$("#yuanshiNumber").val(data.yuanshiNumber);
		$("#wuyuanshi").val(data.wuyuanshi);
		$("#yunshihuanbinglv").val(data.yunshihuanbinglv);
		$("#zhengshiNumber").val(data.zhengshiNumber);
		$("#wuzhengshi").val(data.wuzhengshi);
		$("#zhengshiyanlv").val(data.zhengshiyanlv);
		$("#wuquguangcenci").val(data.wuquguangcenci);
		$("#quguangcenciNumberLv").val(data.quguangcenciNumberLv);
		$("#quguangcenciNumber").val(data.quguangcenciNumber);
	}
});
	
	
	
	// 基于准备好的dom，初始化echarts实例
	var myChart =  echarts.init(document.getElementById('pie_charts'));
	var myChart2 = echarts.init(document.getElementById('pie_charts2'));
	var myChart3 = echarts.init(document.getElementById('pie_charts3'));
	var myChart4 = echarts.init(document.getElementById('pie_charts4'));
	var myChart5 = echarts.init(document.getElementById('pie_charts5'));
/* 	var myChart6 = echarts.init(document.getElementById('pie_charts6'));
 */	 // 指定图表的配置项和数据
    var option = {
    		 title: {
    	       // text: '正常',
    	        subtext: $("#buliangshililv").val()+'%',
    	        textStyle:{
    	            fontSize:16,
    	            color: '#666666'
    	        },
    	        subtextStyle: {
    	            fontSize: 16,
    	            color: '#666666'
    	        },
    	        textAlign:"center",
    	        x: '50%',
    	        y: '38%',
    	        
    	    }, 
    		tooltip: {
    	        trigger: 'item',
    	        formatter: "{b}: {c} <br/> ({d}%)"
    	    },
    	    legend: {
    	       // orient: 'vertical',
    	        bottom: "2%",
    	        data:['患病','正常']
    	    },
    	    
    	    series: [
    	        {
    	            name:'访问来源',
    	            type:'pie',
    	            center: ['50%', '45%'],
    	            radius: ['50%', '60%'],
    	            avoidLabelOverlap: false,
    	            label: {
    	                normal: {
    	                    show: false,
    	                    position: 'center',
    	                    formatter: "{c}%",
    	                    textStyle: {
    	                    	fontSize: 30,

    	                    },
    	                },
    	                emphasis: {
    	                    show: false,
    	                    /* textStyle: {
    	                        fontSize: '30',
    	                        fontWeight: 'bold'
    	                    } */
    	                }
    	            },
    	            labelLine: {
    	                normal: {
    	                    show: false
    	                }
    	            },
    	            data:[
							{value:$("#wubuliang").val(), name:'正常'},
							{value:$("#buliangshiliNumber").val(), name:'患病'}
    	              ]
    	        },
    	            
    	        
    	    ] 
	 }
	 
    var option1 = {
   		 title: {
   	       // text: '正常',
   	        subtext: $("#yunshihuanbinglv").val()+'%',
   	        textStyle:{
   	            fontSize:16,
   	            color: '#666666'
   	        },
   	        subtextStyle: {
   	            fontSize: 16,
   	            color: '#666666'
   	        },
   	        textAlign:"center",
   	        x: '50%',
   	        y: '38%',
   	        
   	    }, 
   		tooltip: {
   	        trigger: 'item',
   	        formatter: "{b}: {c} <br/> ({d}%)"
   	    },
   	    legend: {
   	       // orient: 'vertical',
   	        bottom: "2%",
   	        data:['患病','正常']
   	    },
   	    
   	    series: [
   	        {
   	            name:'访问来源',
   	            type:'pie',
   	            center: ['50%', '45%'],
   	            radius: ['50%', '60%'],
   	            avoidLabelOverlap: false,
   	            label: {
   	                normal: {
   	                    show: false,
   	                    position: 'center',
   	                    formatter: "{c}%",
   	                    textStyle: {
   	                    	fontSize: 30,

   	                    },
   	                },
   	                emphasis: {
   	                    show: false,
   	                    /* textStyle: {
   	                        fontSize: '30',
   	                        fontWeight: 'bold'
   	                    } */
   	                }
   	            },
   	            labelLine: {
   	                normal: {
   	                    show: false
   	                }
   	            },
   	            data:[
							{value:$("#wuyuanshi").val(), name:'正常'},
							{value:$("#yuanshiNumber").val(), name:'患病'}
   	              ]
   	        },
   	            
   	        
   	    ] 
	 }
	 
	 
    var option6 = {
   		 title: {
   	       // text: '正常',
   	        subtext: $("#quguangcenciNumberLv").val()+'%',
   	        textStyle:{
   	            fontSize:16,
   	            color: '#666666'
   	        },
   	        subtextStyle: {
   	            fontSize: 16,
   	            color: '#666666'
   	        },
   	        textAlign:"center",
   	        x: '50%',
   	        y: '38%',
   	        
   	    }, 
   		tooltip: {
   	        trigger: 'item',
   	        formatter: "{b}: {c} <br/> ({d}%)"
   	    },
   	    legend: {
   	       // orient: 'vertical',
   	        bottom: "2%",
   	        data:['患病','正常']
   	    },
   	    
   	    series: [
   	        {
   	            name:'访问来源',
   	            type:'pie',
   	            center: ['50%', '45%'],
   	            radius: ['50%', '60%'],
   	            avoidLabelOverlap: false,
   	            label: {
   	                normal: {
   	                    show: false,
   	                    position: 'center',
   	                    formatter: "{c}%",
   	                    textStyle: {
   	                    	fontSize: 30,

   	                    },
   	                },
   	                emphasis: {
   	                    show: false,
   	                    /* textStyle: {
   	                        fontSize: '30',
   	                        fontWeight: 'bold'
   	                    } */
   	                }
   	            },
   	            labelLine: {
   	                normal: {
   	                    show: false
   	                }
   	            },
   	            data:[
							{value:$("#wuquguangcenci").val(), name:'正常'},
							{value:$("#quguangcenciNumber").val(), name:'患病'}
   	              ]
   	        },
   	            
   	        
   	    ] 
	 }
	 
    var option3 = {
   		 title: {
   	       // text: '正常',
   	        subtext: $("#zhengshiyanlv").val()+'%',
   	        textStyle:{
   	            fontSize:16,
   	            color: '#666666'
   	        },
   	        subtextStyle: {
   	            fontSize: 16,
   	            color: '#666666'
   	        },
   	        textAlign:"center",
   	        x: '50%',
   	        y: '38%',
   	        
   	    }, 
   		tooltip: {
   	        trigger: 'item',
   	        formatter: "{b}: {c} <br/> ({d}%)"
   	    },
   	    legend: {
   	       // orient: 'vertical',
   	        bottom: "2%",
   	        data:['患病','正常']
   	    },
   	    
   	    series: [
   	        {
   	            name:'访问来源',
   	            type:'pie',
   	            center: ['50%', '45%'],
   	            radius: ['50%', '60%'],
   	            avoidLabelOverlap: false,
   	            label: {
   	                normal: {
   	                    show: false,
   	                    position: 'center',
   	                    formatter: "{c}%",
   	                    textStyle: {
   	                    	fontSize: 30,

   	                    },
   	                },
   	                emphasis: {
   	                    show: false,
   	                    /* textStyle: {
   	                        fontSize: '30',
   	                        fontWeight: 'bold'
   	                    } */
   	                }
   	            },
   	            labelLine: {
   	                normal: {
   	                    show: false
   	                }
   	            },
   	            data:[
							{value:$("#zhengshiNumber").val(), name:'正常'},
							{value:$("#wuzhengshi").val(), name:'患病'}
   	              ]
   	        },
   	            
   	        
   	    ] 
	 }
	 
    var option4 = {
   		 title: {
   	       // text: '正常',
   	        subtext: '11.18%',
   	        textStyle:{
   	            fontSize:16,
   	            color: '#666666'
   	        },
   	        subtextStyle: {
   	            fontSize: 16,
   	            color: '#666666'
   	        },
   	        textAlign:"center",
   	        x: '50%',
   	        y: '38%',
   	        
   	    }, 
   		tooltip: {
   	        trigger: 'item',
   	        formatter: "{b}: {c} <br/> ({d}%)"
   	    },
   	    legend: {
   	       // orient: 'vertical',
   	        bottom: "2%",
   	        data:['患病','正常']
   	    },
   	    
   	    series: [
   	        {
   	            name:'访问来源',
   	            type:'pie',
   	            center: ['50%', '45%'],
   	            radius: ['50%', '60%'],
   	            avoidLabelOverlap: false,
   	            label: {
   	                normal: {
   	                    show: false,
   	                    position: 'center',
   	                    formatter: "{c}%",
   	                    textStyle: {
   	                    	fontSize: 30,

   	                    },
   	                },
   	                emphasis: {
   	                    show: false,
   	                    /* textStyle: {
   	                        fontSize: '30',
   	                        fontWeight: 'bold'
   	                    } */
   	                }
   	            },
   	            labelLine: {
   	                normal: {
   	                    show: false
   	                }
   	            },
   	            data:[
							{value:20804, name:'正常'},
							{value:2618, name:'患病'}
   	              ]
   	        },
   	            
   	        
   	    ] 
	 }
	 
	 // 指定图表的配置项和数据
    var option2 = {
    		 title: {
    	       // text: '正常',
    	        subtext:$("#jinshilv").val()+'%',
    	        textStyle:{
    	            fontSize:16,
    	            color: '#666666'
    	        },
    	        subtextStyle: {
    	            fontSize: 16,
    	            color: '#666666'
    	        },
    	        textAlign:"center",
    	        x: '50%',
    	        y: '38%',
    	        
    	    }, 
    		tooltip: {
    	        trigger: 'item',
    	        formatter: "{b}: {c} <br/> ({d}%)"
    	    },
    	    legend: {
    	       // orient: 'vertical',
    	        bottom: "2%",
    	        data:['低度','中度','高度','正常']
    	    },
    	    
    	    series: [
    	        {
    	            name:'访问来源',
    	            type:'pie',
    	            center: ['50%', '45%'],
    	            radius: ['50%', '60%'],
    	            avoidLabelOverlap: false,
    	            label: {
    	                normal: {
    	                    show: false,
    	                    position: 'center',
    	                    formatter: "{c}%",
    	                    textStyle: {
    	                    	fontSize: 30,

    	                    },
    	                },
    	                emphasis: {
    	                    show: false,
    	                    /* textStyle: {
    	                        fontSize: '30',
    	                        fontWeight: 'bold'
    	                    } */
    	                }
    	            },
    	            labelLine: {
    	                normal: {
    	                    show: false
    	                }
    	            },
    	            data:[
							{value:$("#didujinshiNumber").val(), name:'低度'},
							{value:$("#zhongdujinshiNumber").val(), name:'中度'},
							{value:$("#gaodujinshiNumber").val(), name:'高度'},
							{value:$("#zhengchang").val(), name:'正常'}
    	              ]
    	        },
    	            
    	        
    	    ] 
	 }
	 
    myChart.setOption(option);
    myChart2.setOption(option2);
    myChart3.setOption(option1);
    myChart4.setOption(option6);
    myChart5.setOption(option3);
/*     myChart6.setOption(option4);
 */</script>

</body>
</html>