<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.css">
   
</head>
<body>

<div class="panel panel-default" style="background-color: #EEEEEE; top: 1px;">
    <div class="panel-heading"> <h3>&nbsp;&nbsp;&nbsp;欢迎登录儿童近视防控数据平台管理系统</h3></div>
    
    <div class="first_area">
    	<div class="left">
    		<p class="itemName">
    			<span>总</span>
    		</p>
    		<p class="itemLs">
    			<span>受检者总数</span>
    			<span class="total">100人</span>
    		</p>
    	</div>
    	<div class="right">
    		<div class="checkItem">
    			<p class="itemName">
    				<i class="iconfont icon-yonghuguanli1"></i>
    			</p>
    			<p class="itemLs">
	    			<span>示范校筛查系统</span>
	    			<span>50人</span>
    			</p>
    		</div>
    		<div class="checkItem">
    			<p class="itemName">
    				<i class="iconfont icon-yonghuguanli1"></i>
    			</p>
    			<p class="itemLs">
	    			<span>普通筛查系统</span>
	    			<span>50人</span>
    			</p>
    		</div>
    		<!-- <div class="checkItem">
    			<p class="itemName">
    				<i class="iconfont icon-yonghuguanli1"></i>
    			</p>
    			<p class="itemLs">
	    			<span>受检者总数</span>
	    			<span>564564人</span>
    			</p>
    		</div> -->
    	</div>
    </div>
    
    <div class="pie_area">
    	<div class="image-box">
    		<div class="title">患病率统计</div>
    		<ul>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>视力低下率</span>
    						</div>
    					</div>
    					<div id="pie_charts" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>近视患病率</span>
    						</div>
    					</div>
    					<div id="pie_charts2" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>远视患病率</span>
    						</div>
    					</div>
    					<div id="pie_charts3" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>屈光参差患病率</span>
    						</div>
    					</div>
    					<div id="pie_charts4" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>正视眼率</span>
    						</div>
    					</div>
    					<div id="pie_charts5" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    			<li>
    				<div class="char_Parent">
    					<div class="content_area">
    						<div class="radius_area">
    							<span>高眼压率</span>
    						</div>
    					</div>
    					<div id="pie_charts6" class="pie_charts" style="width: 240px;height: 300px;-webkit-tap-highlight-color: transparent;user-select: none;position: relative;"></div>
    				</div>
    			</li>
    		</ul>
    	</div>
    </div>
    

 <!--     <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>面向学习型的开源框架，简洁高效，减少过渡封装，展现技术本质</li>
            <li>Springboot作为基础框架，使用mybatis作为持久层框架</li>
            <li>使用官方推荐的thymeleaf做为模板引擎，shiro作为安全框架,主流技术，“一网打尽”</li>
            <li>极简配置，一键前后台代码生成</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;获取源码</h3>
        <ul>
            <li>Github地址：<a href="https://github.com/lcg0124/bootdo.git" th:href="@{https://github.com/lcg0124/bootdo.git}" target="_blank">https://github.com/lcg0124/bootdo.git</a></li>
            <li>Oschina地址：<a href="https://gitee.com/lcg0124/bootdo.git" target="_blank">https://gitee.com/lcg0124/bootdo.git</a></li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;官方QQ群</h3>
        <ul>
            <li>点击链接加入群【BootDo交流群】：<a href="https://jq.qq.com/?_wv=1027&k=5EYXfiZ">669039323(满)</a></li>
            <li>点击链接加入群聊【BootDo交流二群】：<a href="https://jq.qq.com/?_wv=1027&k=5M659N4">614726589</a></li>
        </ul>
    </div>  -->
</div>
<script src="/js/plugins/echarts/echarts.js"></script>
<script type="text/javascript">
	
	// 基于准备好的dom，初始化echarts实例
	var myChart = echarts.init(document.getElementById('pie_charts'));
	var myChart2 = echarts.init(document.getElementById('pie_charts2'));
	var myChart3 = echarts.init(document.getElementById('pie_charts3'));
	var myChart4 = echarts.init(document.getElementById('pie_charts4'));
	var myChart5 = echarts.init(document.getElementById('pie_charts5'));
	var myChart6 = echarts.init(document.getElementById('pie_charts6'));
	 // 指定图表的配置项和数据
    var option = {
    		 title: {
    	       // text: '正常',
    	        subtext: '50%',
    	        textStyle:{
    	            fontSize:16,
    	            color: '#666666'
    	        },
    	        subtextStyle: {
    	            fontSize: 16,
    	            color: '#666666'
    	        },
    	        textAlign:"center",
    	        x: '50%',
    	        y: '38%',
    	        
    	    }, 
    		tooltip: {
    	        trigger: 'item',
    	        formatter: "{b}: {c} <br/> ({d}%)"
    	    },
    	    legend: {
    	       // orient: 'vertical',
    	        bottom: "2%",
    	        data:['患病','正常']
    	    },
    	    
    	    series: [
					/* {
					    name:'访问来源',
					    type:'pie',
					    selectedMode: 'single',
					    center: ['50%', '45%'],
					    radius: [0, '0%'],
					    hoverAnimation:false,
					    label: {
					        normal: {
					        	 //show: false,
					        	 position: 'inner',
					        	 textStyle: {
			    	                 fontSize: 14,
			    	                 color: '#fff'	
			    	             },
					        },
					        emphasis: {
	    	                    show: false,
	    	                    
	    	                }
					        
					    },
					    labelLine: {
					        normal: {
					            show: false
					        }
					    },
					    data:[
					        {value:615, name:'正常'},
					        {value:335, name:'患病'}
					    ]
					}, */
    	        {
    	            name:'访问来源',
    	            type:'pie',
    	            center: ['50%', '45%'],
    	            radius: ['50%', '60%'],
    	            avoidLabelOverlap: false,
    	            label: {
    	                normal: {
    	                    show: false,
    	                    position: 'center',
    	                    formatter: "{c}%",
    	                    textStyle: {
    	                    	fontSize: 30,

    	                    },
    	                },
    	                emphasis: {
    	                    show: false,
    	                    /* textStyle: {
    	                        fontSize: '30',
    	                        fontWeight: 'bold'
    	                    } */
    	                }
    	            },
    	            labelLine: {
    	                normal: {
    	                    show: false
    	                }
    	            },
    	            data:[
							{value:615, name:'正常'},
							{value:335, name:'患病'}
    	              ]
    	        },
    	            
    	        
    	    ] 
	 }
	 
	 // 指定图表的配置项和数据
    var option2 = {
    		 title: {
    	       // text: '正常',
    	        subtext: '50%',
    	        textStyle:{
    	            fontSize:16,
    	            color: '#666666'
    	        },
    	        subtextStyle: {
    	            fontSize: 16,
    	            color: '#666666'
    	        },
    	        textAlign:"center",
    	        x: '50%',
    	        y: '38%',
    	        
    	    }, 
    		tooltip: {
    	        trigger: 'item',
    	        formatter: "{b}: {c} <br/> ({d}%)"
    	    },
    	    legend: {
    	       // orient: 'vertical',
    	        bottom: "2%",
    	        data:['低度','中度','高度','正常']
    	    },
    	    
    	    series: [
    	        {
    	            name:'访问来源',
    	            type:'pie',
    	            center: ['50%', '45%'],
    	            radius: ['50%', '60%'],
    	            avoidLabelOverlap: false,
    	            label: {
    	                normal: {
    	                    show: false,
    	                    position: 'center',
    	                    formatter: "{c}%",
    	                    textStyle: {
    	                    	fontSize: 30,

    	                    },
    	                },
    	                emphasis: {
    	                    show: false,
    	                    /* textStyle: {
    	                        fontSize: '30',
    	                        fontWeight: 'bold'
    	                    } */
    	                }
    	            },
    	            labelLine: {
    	                normal: {
    	                    show: false
    	                }
    	            },
    	            data:[
							{value:615, name:'低度'},
							{value:335, name:'中度'},
							{value:615, name:'高度'},
							{value:335, name:'正常'}
    	              ]
    	        },
    	            
    	        
    	    ] 
	 }
	 
    myChart.setOption(option);
    myChart2.setOption(option2);
    myChart3.setOption(option);
    myChart4.setOption(option);
    myChart5.setOption(option);
    myChart6.setOption(option);
</script>

</body>
</html>