<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shaicha.informationNEW.dao.ChanpinListDao">

	<select id="get" resultType="com.shaicha.informationNEW.domain.ChanpinListDO">
		select `id`,`chanpin_name`,`add_time`,`status`,`del_flag` from t_chanpin_list where id = #{value}
	</select>

	<select id="list" resultType="com.shaicha.informationNEW.domain.ChanpinListDO">
		select `id`,`chanpin_name`,`add_time`,`status`,`del_flag` from t_chanpin_list
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="chanpinName != null and chanpinName != ''"> and chanpin_name = #{chanpinName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_chanpin_list
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="chanpinName != null and chanpinName != ''"> and chanpin_name = #{chanpinName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.shaicha.informationNEW.domain.ChanpinListDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_chanpin_list
		(
			`chanpin_name`, 
			`add_time`, 
			`status`, 
			`del_flag`
		)
		values
		(
			#{chanpinName}, 
			#{addTime}, 
			#{status}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.shaicha.informationNEW.domain.ChanpinListDO">
		update t_chanpin_list 
		<set>
			<if test="chanpinName != null">`chanpin_name` = #{chanpinName}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_chanpin_list where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_chanpin_list where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>