<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shaicha.informationNEW.dao.ResultDiopterNewDao">

	<select id="get" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select `t_diopter_id`,`t_optometry_id`,`diopter_s`,`diopter_c`,`diopter_a`,`believe`,`num`,`type`,`ifRL`,first_second,activity_id from t_result_diopter_new where t_diopter_id = #{value}
	</select>

	<select id="getByToptometryId" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select `t_diopter_id`,`t_optometry_id`,`diopter_s`,`diopter_c`,`diopter_a`,`believe`,`num`,`type`,check_date,`ifRL`,dengxiaoqiujing,first_second,activity_id from t_result_diopter_new where t_optometry_id = #{value}
	</select>

	<select id="list" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select `t_diopter_id`,`t_optometry_id`,`diopter_s`,`diopter_c`,`diopter_a`,`believe`,`num`,`type`,`ifRL`,first_second,activity_id from t_result_diopter_new
        <where>  
		  		  <if test="tDiopterId != null and tDiopterId != ''"> and t_diopter_id = #{tDiopterId} </if>
		  		  <if test="tOptometryId != null and tOptometryId != ''"> and t_optometry_id = #{tOptometryId} </if>
		  		  <if test="diopterS != null and diopterS != ''"> and diopter_s = #{diopterS} </if>
		  		  <if test="diopterC != null and diopterC != ''"> and diopter_c = #{diopterC} </if>
		  		  <if test="diopterA != null and diopterA != ''"> and diopter_a = #{diopterA} </if>
		  		  <if test="believe != null and believe != ''"> and believe = #{believe} </if>
		  		  <if test="num != null and num != ''"> and num = #{num} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="ifrl != null and ifrl != ''"> and ifRL = #{ifrl} </if>
		  		  <if test="firstSecond != null and firstSecond != ''"> and first_second = #{firstSecond} </if>
		  		  <if test="checkDate != null and checkDate != ''"> and check_date = #{checkDate} </if>
		  		  <if test="activityId != null and activityId != ''"> and activity_id = #{activityId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by t_diopter_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_result_diopter_new
		 <where>  
		  		  <if test="tDiopterId != null and tDiopterId != ''"> and t_diopter_id = #{tDiopterId} </if>
		  		  <if test="tOptometryId != null and tOptometryId != ''"> and t_optometry_id = #{tOptometryId} </if>
		  		  <if test="diopterS != null and diopterS != ''"> and diopter_s = #{diopterS} </if>
		  		  <if test="diopterC != null and diopterC != ''"> and diopter_c = #{diopterC} </if>
		  		  <if test="diopterA != null and diopterA != ''"> and diopter_a = #{diopterA} </if>
		  		  <if test="believe != null and believe != ''"> and believe = #{believe} </if>
		  		  <if test="num != null and num != ''"> and num = #{num} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="ifrl != null and ifrl != ''"> and ifRL = #{ifrl} </if>
		  		  <if test="firstSecond != null and firstSecond != ''"> and first_second = #{firstSecond} </if>
		  		  <if test="activityId != null and activityId != ''"> and activity_id = #{activityId} </if>
		  		</where>
	</select>
	 
	 
	 
	<insert id="save" parameterType="com.shaicha.informationNEW.domain.ResultDiopterNewDO" useGeneratedKeys="true" keyProperty="tDiopterId">
		insert into t_result_diopter_new
		(
			`t_optometry_id`, 
			`diopter_s`, 
			`diopter_c`, 
			`diopter_a`, 
			`believe`, 
			`num`, 
			`type`, 
			`ifRL`,
			first_second,
			activity_id,
			identity_card,
			`check_date`,
			y1Y,
			y2Y,
			`dengxiaoqiujing`,
			`activity_id`
		)
		values
		(
			#{tOptometryId},
			#{diopterS},
			#{diopterC},
			#{diopterA},
			#{believe},
			#{num},
			#{type},
			#{ifrl},
			#{firstSecond},
			#{activityId},
			#{identityCard},
			#{checkDate},
			#{y1Y},
			#{y2Y},
			#{dengxiaoqiujing},
			#{activityId}
		)
	</insert>
	 
	<update id="update" parameterType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		update t_result_diopter_new 
		<set>
			<if test="tOptometryId != null">`t_optometry_id` = #{tOptometryId}, </if>
			<if test="diopterS != null">`diopter_s` = #{diopterS}, </if>
			<if test="diopterC != null">`diopter_c` = #{diopterC}, </if>
			<if test="diopterA != null">`diopter_a` = #{diopterA}, </if>
			<if test="believe != null">`believe` = #{believe}, </if>
			<if test="num != null">`num` = #{num}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="ifrl != null">`ifRL` = #{ifrl},</if>
			<if test="firstSecond != null">`first_second` = #{firstSecond},</if>
			<if test="activityId != null"> activity_id = #{activityId}, </if>
			<if test="y1Y !=null and y1Y !=''">y1Y=#{y1Y},</if>
			<if test="y2Y !=null and y2Y !=''">y2Y = #{y2Y}</if>
		</set>
		where t_diopter_id = #{tDiopterId}
	</update>
	
	<delete id="remove">
		delete from t_result_diopter_new where t_diopter_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_result_diopter_new where t_diopter_id in 
		<foreach item="tDiopterId" collection="array" open="(" separator="," close=")">
			#{tDiopterId}
		</foreach>
	</delete>

	<select id="getYanGuang" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select d.`diopter_s`,d.`diopter_c`,d.`diopter_a` from t_result_diopter_new d join t_result_optometry_new o
		 ON d.t_optometry_id=o.t_optometry_id
		 where d.type = 'AVG'
		and d.ifRL = #{ifRL} and o.student_id= #{studentId} and d.activity_id = #{activityId}
	</select>
    <select id="getYanGuangAll" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select d.`diopter_s`,d.`diopter_c`,d.`diopter_a` from t_result_diopter_new d join t_result_optometry_new o
		 ON d.t_optometry_id=o.t_optometry_id
		 where d.ifRL = #{ifRL} and o.student_id= #{studentId} and d.activity_id = #{activityId}
	</select>
    <select id="oldgetYanGuang" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select d.`diopter_s`,d.`diopter_c`,d.`diopter_a` from t_result_diopter d join t_result_optometry o
		 ON d.t_optometry_id=o.t_optometry_id
		 where d.type = 'AVG'
		and d.ifRL = #{ifRL} and o.student_id= #{studentId}
	</select>
    <select id="oldgetYanGuangAll" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select d.`diopter_s`,d.`diopter_c`,d.`diopter_a` from t_result_diopter d join t_result_optometry o
		 ON d.t_optometry_id=o.t_optometry_id
		 where d.ifRL = #{ifRL} and o.student_id= #{studentId}
	</select>

	<select id="jianchashijian" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
	
		select date_format(check_date,'%Y-%m-%d') checkDate1 from t_result_diopter_new where first_second = 'FIRST_CHECK' and check_date is not null GROUP BY check_date
	</select>
	
	<select id="queryTimeBetween" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select `diopter_s`,`diopter_c`,`diopter_a` from t_result_diopter_new where type = 'AVG'
		AND #{startDate}&lt;=check_date
		AND #{endDate}&gt;=check_date 
	</select>

	<select id="getYuCeData" resultType="com.shaicha.informationNEW.domain.ResultDiopterNewDO">
		select y1Y,y2Y,ifRL from t_result_diopter_new where t_optometry_id = #{optId} and type = 'AVG'
	</select>
	<update id="updateYuCeData" >
		update t_result_diopter_new set y1Y = #{y1Y} ,y2Y = #{y2Y} where t_optometry_id = #{optId} and type = 'AVG' and ifRL =#{ifRl}
	</update>
</mapper>