<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shaicha.informationNEW.dao.SchoolReportNewDao">
	<!-- 检查 -->
	<select id="zongNum" resultType="int">
		SELECT count(*) FROM t_student_new where activity_id = #{activityId} and school = #{school}
	</select>
	<!-- 年级检查 -->
	<select id="gradeCheckNum" resultType="int">
		SELECT count(*) FROM t_student_new where activity_id =#{activityId} and  school = #{school} and grade = #{grade}
	</select>
	<!-- 学部 -->
	<select id="schoolXuebu" resultType="com.shaicha.informationNEW.domain.SchoolNewDO">
		SELECT * from t_school_new where OrgName = #{OrgName}
	</select>
	<!--  -->
	<select id="activityByCheckNum" resultType="int">
		SELECT count(*) from t_student_new s where
		s.activity_id = #{activityId} and s.school = #{school} and last_check_time is not null
	</select>
	<select id="activityGradeByCheckNum" resultType="int">
		SELECT count(*) from t_student_new s where
	 activity_id = #{activityId} and school = #{school} and last_check_time is not null and grade=#{grade}
	</select>
	<select id="activitySexByCheckNum" resultType="int">
		SELECT count(*) from t_student_new s,t_result_eyesight_new r 
		where 
		s.id = r.student_id and r.activity_id = #{activityId} and s.school = #{school} and s.student_sex = #{studentSex}
	</select>
	<select id="activityGradeSexByCheckNum" resultType="int">
		SELECT count(*) from t_student_new s,t_result_eyesight_new r 
		where 
		s.id = r.student_id and r.activity_id = #{activityId} and s.school = #{school} and s.grade = #{grade} and s.student_sex = #{studentSex}
	</select>
	<select id="activityGradeClassByCheckNum" resultType="int">
		SELECT count(*) from t_student_new s,t_result_eyesight_new r 
		where 
		s.id = r.student_id and r.activity_id = #{activityId} and s.school = #{school} and s.grade = #{grade} and s.student_class = #{studentClass}
	</select>
	<!-- 检查近视人数 -->
	<select id="schoolCheckJinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 ]]>
	</select>
	<!-- 检查不良人数 -->
	<select id="schoolCheckBuliang" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} )a 
		where a.jinshi < 5.0 ]]>
	</select>
	<!-- 男女生近视率 -->
	<!-- 检查 -->
	<select id="schoolSexCheckNum" resultType="int">
		SELECT count(*) FROM t_student_new where activity_id =#{activityId} and  school = #{school}  and student_sex = #{studentSex}
	</select>
	<!-- 近视人数 -->
	<select id="schoolSexjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and  school = #{school} and student_sex = #{studentSex})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 ]]>
	</select>
	<!-- 各班级 -->
	<select id="schoolGradeClassCheckNum" resultType="int">
		SELECT count(*) FROM t_student_new where activity_id = #{activityId} and  school = #{school} and grade = #{grade} and student_class = #{studentClass}
	</select>	
	<!-- 近视人数 -->
	<select id="schoolGradeClassjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} and student_class =  #{studentClass})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 ]]>
	</select>	
	<select id="schoolGradeClassbuliang" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school}  and grade = #{grade} and student_class =  #{studentClass})a 
		where a.jinshi < 5.0 ]]>
	</select>	
	<!-- 近视情况 -->
	<!-- 前期 -->
	<select id="jinshiqianqi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} )a where a.jinshi >= 5.0) b 
		where b.dengxiaoqiujing >= -0.5 and b.dengxiaoqiujing <= 0.75  and b.dengxiaoqiujing != 0 ]]>
	</select>	
	<!-- 假性 -->
	<select id="jiaxingjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} )a where a.jinshi >= 5.0) b 
		where b.dengxiaoqiujing < -0.5  and b.dengxiaoqiujing != 0 ]]>
	</select>	
	<!-- #低度-->
	<select id="didujinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} )a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 and b.dengxiaoqiujing >= -3.0 ]]>
	</select>	
	<!--中度 -->
	<select id="zhongdujinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} )a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -3.0 and b.dengxiaoqiujing > -6.0 ]]>
	</select>	
	<!-- 高度 -->
	<select id="gaodujinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} )a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing <= -6.0 ]]>
	</select>	
	<!-- 不良 -->
	<!-- 轻度 -->
	<select id="qingdubuliang" resultType="int">
		SELECT count(*) from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} )a 
		where a.jinshi = 4.9
	</select>	
	<!-- 中度 -->
	<select id="zhongdubuliang" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} )a 
		where a.jinshi >=4.6 and a.jinshi <= 4.9 ]]>
	</select>	
	<!-- 重度 -->
	<select id="gaodubuliang" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} )a 
		where a.jinshi <= 4.5 ]]>
	</select>	
	<!-- 总计 -->
	<select id="buliangTotal" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school}  and grade = #{grade} )a 
		where a.jinshi < 5.0 ]]>
	</select>	
	<!--图 -->
	<!--历年检查人数-->
	<select id="linianCheckNum" resultType="int">
		SELECT count(*) from t_student_new where school = #{school} and date_format(last_check_time,'%Y') =#{lastCheckTime}
	</select>	
	<!-- 近视-->
	<select id="linianjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where school = #{school})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 and date_format(b.last_check_time,'%Y') =#{lastCheckTime} ]]>
	</select>	
	<!-- 年级检查 -->
	<select id="gradeCheck" resultType="int">
		SELECT count(*) from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade}
	</select>
	<!-- #年级近视 -->
	<select id="gradeCheckjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 ]]>
	</select>
	<!-- 历年各年级近视检查 -->
	<select id="liniangradeCheck" resultType="int">
		SELECT count(*) from t_student_new where school = #{school} and grade = #{grade} and date_format(last_check_time,'%Y') = #{lastCheckTime}
	</select>	
	<!-- 近视 -->
	<select id="liniangradeCheckjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where school = #{school} and grade = #{grade})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 and date_format(b.last_check_time,'%Y') =#{lastCheckTime} ]]>
	</select>
    <!-- 不良 -->
    <select id="liniangradeCheckbuliang" resultType="int">
		<![CDATA[ SELECT count(*) from (SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where school = #{school} and grade = #{grade})a
        where a.jinshi < 5.0
		and date_format(a.last_check_time,'%Y') =#{lastCheckTime} ]]>
	</select>
	<!-- 男、女生近视检查 -->
	<select id="sexCheckNum" resultType="int">
		SELECT count(*) from t_student_new where activity_id = #{activityId} and school = #{school} and student_sex = #{studentSex}
	</select>	
	<!-- 近视 -->
	<select id="sexCheckjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id = #{activityId} and school = #{school} and student_sex = #{studentSex})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 ]]>
	</select>	
	<!-- 历年男女生近视 -->
	<select id="linianSexCheckNum" resultType="int">
		SELECT count(*) from t_student_new where school = #{school} and student_sex =#{studentSex}  and date_format(last_check_time,'%Y') = #{lastCheckTime}
	</select>	
	<!-- 近视 -->
	<select id="linianSexCheckjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where school = #{school} and student_sex = #{studentSex})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 and date_format(last_check_time,'%Y') =#{lastCheckTime} ]]>
	</select>	
	<!-- 男女生年级近视检查 -->
	<select id="sexGradeCheckNum" resultType="int">
		SELECT count(*) from t_student_new where activity_id = #{activityId} and school = #{school} and grade = #{grade} and student_sex = #{studentSex}
	</select>	
	<!-- 近视 -->
	<select id="sexGradeCheckjinshi" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student_new where activity_id =#{activityId} and school = #{school} and grade = #{grade} and student_sex = #{studentSex})a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5 ]]>
	</select>	
	
	<select id="schoolActivity" resultType="com.shaicha.informationNEW.domain.StudentNewDO">
		select `id`,`student_name`,`student_sex`,`nation`,`birthday`,`identity_card`,`school`,`grade`,`student_class`,`phone`,`address`,`height`,`weight`,`add_time`,`status`,school_id,last_check_time,activity_id
		 from t_student_new where activity_id = #{activityId} 
		 <if test="sysId != null and sysId != ''"> and sys_id = #{sysId} </if>
		 and school is not null GROUP BY school
	</select>
	
	
	<select id="getLastActivity" resultType="com.shaicha.informationNEW.domain.ActivityListNewDO">
		<![CDATA[ SELECT `id`,`activity_name`,`del_flag`,`add_time`,`update_date`,sys_id from t_activity_list_new where sys_id = #{sysId} and add_time < #{addTime} ORDER BY add_time desc LIMIT 1 ]]>
	</select>
	
	<!-- 外海（单独） -->
	<select id="waihaijiancharenshu" resultType="int">
		SELECT count(*) from t_student where school = '济南市外海实验学校' and last_check_time = DATE_FORMAT('2019-12-11','%Y-%m-%d')
	</select>
	
	<select id="waihaijinshirenshu" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,LEAST(dengxiaoqiujingr,dengxiaoqiujingl) dengxiaoqiujing from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student where  school = '济南市外海实验学校' and last_check_time = DATE_FORMAT('2019-12-11','%Y-%m-%d') )a where a.jinshi < 5.0) b 
		where b.dengxiaoqiujing < -0.5  ]]>
	</select>
	
	<select id="waihaibuliangrenshu" resultType="int">
		<![CDATA[ SELECT count(*) from (
		SELECT * ,least(naked_farvision_od,naked_farvision_os) jinshi from t_student where school = '济南市外海实验学校' and last_check_time = DATE_FORMAT('2019-12-11','%Y-%m-%d') )a 
		where a.jinshi < 5.0 ]]>
	</select>
	
</mapper>