<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input name="checkType" th:value="${checkType}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动名称：</label>
                            <div class="col-sm-8">
                                <select name="activityId" id="activityId" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="false" data-size="5" required>
                                    <option value="">请选择活动名称</option>
                                    <option th:each="hd:${huodong}"
                                            th:text="${hd.activityName}"
                                            th:value="${hd.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">学校：</label>
                            <div class="col-sm-8">
                                <select name="schoolId" id="schoolId" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="false" data-size="5" required>
                                    <option value="">请选择学校</option>
                                    <option th:each="ls:${listSchool}"
                                            th:text="${ls.orgname}"
                                            th:value="${ls.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择模板</label>
                            <div class="col-sm-8">
                                <a href="/upload/template/疾控中心模板.xlsx">模板下载</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">excel文件上传</label>
                            <div class="col-sm-8">
                                <input id="fileName" name="file" class="form-control" type="file">
                                <p style="color:red;">选择Excel文件,文件列必须满足模板中的列</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">导入</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/informationNEW/student/jikongimport.js"></script>
</body>
</html>
