<html>
 <head>
  <style>
  p{margin-top:0pt;margin-bottom:1pt;}p.X1{text-align:justified;}span.X1{font-family:'Calibri';font-size:10.0pt;}</style>
 </head>
 <body>
  <div style="width:595.0pt;margin-bottom:72.0pt;margin-top:72.0pt;margin-left:90.0pt;margin-right:90.0pt;">
   <p><br /></p>
   <p><br /></p>
   <p><br /></p>
   <p><span style="font-family:'Calibri';font-size:10.0pt;">姓名： </span><span style="font-family:'Courier New';font-size:10.0pt;background-color:#ffffff;" th:text="${studentName}"></span></p>
  <!--  <p><span style="font-family:'Calibri';font-size:10.0pt;">身份证号：</span><span style="font-family:'Courier New';font-size:10.0pt;background-color:#ffffff;" th:text="${identityCard}"></span></p> -->
 <!--   <p><span style="font-family:'Calibri';font-size:10.0pt;">性别：</span><span style="font-family:'Courier New';font-size:10.0pt;background-color:#ffffff;" th:text="${studentSex}"></span></p>
   <p><span style="font-family:'Calibri';font-size:10.0pt;">学校：</span><span style="font-family:'Courier New';font-size:10.0pt;background-color:#ffffff;" th:text="${school}"></span></p> -->
   <p><span style="font-family:'Calibri';font-size:10.0pt;">年级：</span><span style="font-family:'Courier New';font-size:10.0pt;background-color:#ffffff;" th:text="${grade}"></span></p>
   <p><span style="font-family:'Calibri';font-size:10.0pt;">班级：</span><span style="font-family:'Courier New';font-size:10.0pt;background-color:#ffffff;" th:text="${studentClass}"></span><span id="_GoBack"></span></p>
   <p><br /></p>
   <p><br /></p>
   <p><span style="font-family:'Calibri';font-size:10.0pt;"></span><img th:src="${QRCode}" alt="图像数据缺失"></p>
  </div>
 </body>
</html>